@charset "UTF-8";
/*------- Присвоение переменных ----*/
@import url("./base/__coneiner-body.scss");
:root {
  --color-text: rgba(255, 255, 255, 1); /*Присваиваю переменную главному брендовому цвету*/
  --color-text-hover: rgba(255, 108, 0, 1);
  --color-text-gray: rgba(157, 164, 189, 1);
  --color-text-dark: rgba(48, 48, 48, 1);
  --color-text-begraund: rgba(247, 247, 247, 1);
  --color-text-footer: rgba(25, 28, 38, 1);
  --color-text-sub: rgba(157, 164, 189, 0.6) ;
}

/*Присваиваю переменную для всіх типів гаджетів*/
.link {
  color: var(--color-text);
  text-decoration: none;
}
.link:hover {
  color: var(--color-text-hover);
}

.link-instagram {
  width: 20px; /* Ширина */
  height: 20px; /* Высота */
  background-color: var(--color-text-dark); /* Цвет до ховера */
  mask: url("/img/icon/instagram.svg") no-repeat center;
  mask-size: contain;
  transition: background-color 0.3s ease;
}
.link-instagram:hover {
  background-color: var(--color-text-hover); /* Цвет на ховере */
}

.link-facebook {
  width: 20px; /* Ширина */
  height: 20px; /* Высота */
  background-color: var(--color-text-dark); /* Цвет до ховера */
  mask: url("/img/icon/facebook.svg") no-repeat center;
  mask-size: contain;
  transition: background-color 0.3s ease;
}
.link-facebook:hover {
  background-color: var(--color-text-hover); /* Цвет на ховере */
}

.link-twitter {
  width: 20px; /* Ширина */
  height: 20px; /* Высота */
  background-color: var(--color-text-dark); /* Цвет до ховера */
  mask: url("/img/icon/twitter.svg") no-repeat center;
  mask-size: contain;
  transition: background-color 0.3s ease;
}
.link-twitter:hover {
  background-color: var(--color-text-hover); /* Цвет на ховере */
}

.link-linkedin {
  width: 20px; /* Ширина */
  height: 20px; /* Высота */
  background-color: var(--color-text-dark); /* Цвет до ховера */
  mask: url("/img/icon/linkedin.svg") no-repeat center;
  mask-size: contain;
  transition: background-color 0.3s ease;
}
.link-linkedin:hover {
  background-color: var(--color-text-hover); /* Цвет на ховере */
}

.liene {
  color: var(--color-text-dark);
  font-size: 11px;
  font-weight: 600;
  position: relative;
  padding-left: 70px;
}

/*----Блок створення ліній ---*/
.liene::before {
  display: block;
  width: 60px;
  height: 1px; /* Высота линии */
  background-color: var(--color-text-dark); /* Цвет линии */
  content: ""; /* Обязательно для отображения псевдоэлемента */
  position: absolute;
  bottom: 5px; /* Смещение линии вниз */
  left: 0; /* Линия выравнивается по левому краю */
}

.text14 {
  font-size: 14px;
  line-height: 1.5;
}

.text18 {
  font-size: 18px;
  line-height: 1.5;
}

.button {
  display: block;
  height: 40px;
  width: 160px;
  font-size: 12px;
  color: var(--color-text);
  font-weight: 600;
  border: 1px solid var(--color-text-hover);
  border-radius: 25px;
  text-transform: uppercase;
  background-color: transparent;
}
.button:hover {
  background-color: var(--color-text-hover);
}

.button-black {
  display: block;
  height: 40px;
  width: 160px;
  font-size: 12px;
  color: var(--color-text-dark);
  font-weight: 600;
  border: 1px solid var(--color-text-hover);
  border-radius: 25px;
  text-transform: uppercase;
  background-color: transparent;
}
.button-black:hover {
  background-color: var(--color-text-hover);
  color: var(--color-text);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  /*Убирает все точки в ul*/
}

*,
*::after,
*::before {
  box-sizing: border-box;
  /*Для всех элементов файла далает бокс*/
}

/*---Убираю отступы сверху в заголовках и строках ---*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
}

address {
  font-style: normal;
}

/*-Для всіх посилань, щоб займали область всього блоку-*/
a {
  display: inline-block;
}

/*-Свойства для картинок-*/
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover; /*-Не дозволяє пропорційно зменшуватись картинкам-*/
}

body {
  color: var(--color-text);
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: black;
}

/* Стили контейнера содержимого  */
.container {
  max-width: 1170px; /*-Максимальная ширина при растягивании -*/
  width: 100%; /*-Отображает всегда полностью не сжимая -*/
  margin: 0 auto; /*-Центрируем по центру текст -*/
  padding: 0px 10px; /*-Что-бы контенер не прилипал -*/
}
@media screen and (max-width: 1280px) {
  .container {
    max-width: 690px; /*-Максимальная ширина при растягивании -*/
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 418px; /*-Максимальная ширина при растягивании -*/
    width: 100%;
  }
}

.title {
  color: var(--color-text-dark);
  font-size: 42px;
  font-weight: 700;
}

.header {
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 600;
  /*----Блок створення ліній ---*/
  /*----Блок для зміщення ліній ---*/
  /*------------------------------------------------*/
}
.header__flex {
  display: flex;
  justify-content: space-between; /* Размещаем элементы по краям */
  gap: 50px;
  flex-grow: 1; /*Розтягує елементи на все вільне місце*/
  align-items: center; /*Вирівнювання по висоті*/
  margin: 40px 5px 0 0;
}
.header__nav {
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.header__logo {
  height: 56px;
  width: 66px;
  top: 0;
  right: 0;
  background: white;
}
.header__links {
  display: flex;
  flex-direction: column;
  height: 590px;
  width: 100px;
  justify-content: end;
}
.header__social {
  display: flex;
  gap: 30px;
  transform: rotate(-90deg);
  margin-bottom: 140px;
}
.header__social ::after {
  position: absolute;
  width: 60px;
  border: 1px solid var(--color-text-dark);
  content: "";
}
.header__social ::after {
  position: absolute;
  bottom: 8px;
  right: 120px;
}
.header__menu {
  padding-left: 35px;
  display: flex;
  font-size: 16px;
  line-height: 3;
  gap: 40px;
}
.header__telefon {
  display: flex;
  font-size: 12px;
  gap: 25px;
  align-items: center;
}
.header__link {
  color: var(--color-text-dark);
}

.hero-section {
  background-color: var(--color-text);
}
.hero-section__cont {
  height: 680px;
  padding-top: 320px;
  background-image: url("/img/Sli.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  margin-left: 100px;
  padding-left: 120px;
}
.hero-section__sub-title {
  color: var(--color-text-sub);
  font-size: 11px;
  font-weight: 600;
}
.hero-section__title {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 10px;
}
.hero-section__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  color: var(--color-text-sub);
}

.information-section {
  height: 705px;
  width: 100%;
  background-color: var(--color-text);
}
.information-section__flex {
  padding: 160px 0px 100px 0px;
  display: flex;
  gap: 50px;
  width: 100%; /* Флекс-контейнер занимает всю ширину */
}
.information-section__flex-foto {
  display: flex;
  gap: 25px;
  width: 50%;
}
.information-section__foto {
  max-height: 445px;
  max-width: 270px;
}
.information-section__flex-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-text-dark);
  width: 50%;
}

.preis-section {
  height: 718px;
  width: 100%;
  background-image: url("/img/preisbg.png");
  background-color: rgba(9, 11, 19, 0.9);
  padding-top: 100px;
}
.preis-section__mini {
  color: var(--color-text);
  opacity: 60%;
}
.preis-section__title {
  color: var(--color-text);
  padding: 25px 0;
}
.preis-section__flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.preis-section__item {
  display: flex;
  flex-direction: column;
  width: 585px;
  height: 240px;
  padding: 40px 30px;
  align-items: space-between;
  background-color: rgba(9, 11, 19, 0.6);
}
.preis-section__item-flex {
  opacity: 60%;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 2.5;
}
.preis-section__button {
  position: relative;
  top: 80px; /* Смещает кнопку вниз */
  left: 505px; /* Смещает кнопку вправо */
}

.masters-section {
  background-color: var(--color-text-begraund);
  height: 890px;
  padding-top: 80px;
}
.masters-section__flex {
  display: flex;
  gap: 30px;
}
.masters-section__item {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 502px;
  justify-content: space-between;
  align-items: center;
}
.masters-section__item-foto {
  max-width: 370px;
  max-height: 246px;
}
.masters-section__item-tekst {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}
.masters-section__name {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-text-dark);
  line-height: 25px;
}
.masters-section__text {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text-hover);
}
.masters-section__item-icon {
  display: flex;
  gap: 20px;
}

.histori-section {
  height: 679px;
  background-color: var(--color-text);
  padding-top: 125px;
  text-transform: uppercase;
}
@media screen and (max-width: 1280px) {
  .histori-section {
    padding: 0px 40px;
    padding-top: 75px;
  }
}
.histori-section__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}
@media screen and (max-width: 1280px) {
  .histori-section__flex {
    gap: 15px;
    height: 100%;
  }
}
@media screen and (max-width: 480px) {
  .histori-section__flex {
    flex-direction: column;
    height: 100%;
  }
}
.histori-section__flex-item {
  height: 360px;
  width: 270px;
}
@media screen and (max-width: 1280px) {
  .histori-section__flex-item {
    height: 360px;
    width: 330px;
  }
}
@media screen and (max-width: 480px) {
  .histori-section__flex-item {
    height: 360px;
    width: 418px;
  }
}

.contact-section__flex {
  display: flex;
  justify-content: center; /* Выравнивание по горизонтали */
  align-items: center; /* Выравнивание по вертикали */
}
@media screen and (max-width: 1280px) {
  .contact-section__flex {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .contact-section__flex {
    flex-direction: column;
  }
}
.contact-section__flex-item1 {
  height: 644px;
  padding: 150px 0px 0px 0px;
  width: 50%;
  padding-left: 55px;
  background-color: var(--color-text-footer);
}
@media screen and (max-width: 1280px) {
  .contact-section__flex-item1 {
    width: 100%;
    height: 449px;
  }
}
@media screen and (max-width: 480px) {
  .contact-section__flex-item1 {
    width: 100%;
    height: 496px;
  }
}
.contact-section__flex-item2 {
  padding: 150px 0px 0px 55px;
  height: 644px;
  width: 50%;
  background-image: url("/img/Bg.png");
  background-color: var(--color-text-footer);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}
@media screen and (max-width: 1280px) {
  .contact-section__flex-item2 {
    width: 100%;
    height: 449px;
  }
}
@media screen and (max-width: 480px) {
  .contact-section__flex-item2 {
    width: 100%;
    height: 496px;
  }
}
.contact-section__title {
  color: var(--color-text);
}
.contact-section__social {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-text-sub);
  display: flex; /* Включаем Flexbox */
  align-items: center; /* Выравниваем элементы по вертикали */
  gap: 15px; /* Расстояние между иконкой и текстом */
  font-size: 18px; /* Устанавливаем размер текста */
  line-height: 1.5; /* Добавляем удобный интервал между строками */
}
.contact-section__social img {
  width: 24px; /* Устанавливаем размер иконки */
  height: 24px; /* Чтобы иконка не была слишком большой */
}

.footer {
  background-color: var(--color-text-begraund);
}
.footer__container {
  height: 127px;
  display: flex;
  font-size: 11px;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    height: 138px;
  }
}
.footer__blank {
  color: rgb(157, 164, 189);
  align-items: center;
  line-height: 0px;
}
.footer__social {
  display: flex;
  gap: 30px;
}
.footer__social-link {
  color: var(--color-text-dark);
}/*# sourceMappingURL=style.css.map */