.contact-section{
   

   &__flex{
      display: flex;
      
      justify-content: center; /* Выравнивание по горизонтали */
      align-items: center; /* Выравнивание по вертикали */
   }

   &__flex-item1{
      height: 644px;
      width: 50%;
      background-color: var(--color-text-footer);
      
   }

   &__flex-item2{
      height: 644px;
      width: 50%;
      background-image: url('/img/Bg.png');
      background-color: var(--color-text-footer);
   }
}