.footer{
   background-color: var(--color-text-begraund);
   

   &__container{
      height: 127px;
      display: flex;
      font-size: 11px;
      font-weight: 600;
      justify-content: space-between;
      align-items: center;
   }

   &__blank{
      color: rgba(157, 164, 189, 1);

   }

   &__social{
      display: flex;
      gap: 30px;
      color: rgba(157, 164, 189, 1);
      background-color: aqua;
   }

}