.header{
   font-size: 14px;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   font-weight: 600;
   padding-top: 16px;


   &__flex{
      display: flex;
   }

   &__nav{
      display: flex;
   }

   &__logo{
      display: block;
      height: 56px;
      width: 66px;
      fill: white;
   }

   &__menu{
      display: flex;
      font-size: 16px;
      line-height: 3;
      gap: 40px;
   }

   &__telefon{
      font-size: 12px;
   }

   &__button{
      
   
   }

}