
.hero-section{
   height: 680px;
   background-image: url(/img/Slider\ img\ 1.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
   background-size: cover;
}