.header{
   font-size: 14px;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   font-weight: 600;
  

   &__flex{
      display: flex;
      justify-content: space-between; /* Размещаем элементы по краям */
      gap: 50px;
      flex-grow: 1; /*Розтягує елементи на все вільне місце*/
      align-items: center; /*Вирівнювання по висоті*/
      margin: 40px 5px 0 0;

   }

   &__nav{
      padding-left: 20px;
      display: flex;
      align-items: center;
   }

   &__logo{
      height: 56px;
      width: 66px;
      top: 0;
      right: 0;
      background: white;
   }

   &__links{
      display: flex;
      flex-direction: column;
      height: 590px;
      width: 100px;
      justify-content: end;
   }

   

   &__social{
      display: flex;
      gap: 30px;
      transform: rotate(-90deg);
      margin-bottom: 140px;
   }
   /*----Блок створення ліній ---*/
   &__social ::after {
      position: absolute;
         width: 60px;
         border: 1px solid var(--color-text-dark);
         content: "";
   }

   /*----Блок для зміщення ліній ---*/
   &__social ::after {
   position: absolute;
   bottom: 8px;
   right: 120px;
   }
/*------------------------------------------------*/

   &__menu{
      padding-left: 35px;
      display: flex;
      font-size: 16px;
      line-height: 3;
      gap: 40px;
   }

   &__telefon{
      display: flex;
      font-size: 12px;
      gap: 25px;
      align-items: center;
   }

   &__link{
      color: var(--color-text-dark);
   
   
   }

   


}