
.hero-section{
   background-color: var(--color-text);
   
   &__cont{
      height: 680px;
      padding-top: 320px;
      background-image: url(/img/Sli1.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: cover;
   }

   &__sub-title{
      text-align: center; 
   }

   &__title{
      text-align: center; 
   }

   &__text{
      text-align: center; 
   }
}