
.information-section{
   height: 705px;
   width: 100%;
   background-color: var(--color-text);

   &__flex{
      padding: 160px 0px 100px 0px;
      display: flex;
      gap: 50px;
      width: 100%; /* Флекс-контейнер занимает всю ширину */
   }

   &__flex-foto{
      display: flex;
      gap: 25px;
      width: 50%;
   }

   &__foto{
      max-height: 445px;
      max-width: 270px;
   }

   &__flex-text{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: var(--color-text-dark);
      width: 50%;
   }

}