
/* Стили контейнера содержимого  */
.container{
   max-width: 1170px;  /*-Максимальная ширина при растягивании -*/
   width: 100%; /*-Отображает всегда полностью не сжимая -*/
   margin: 0 auto; /*-Центрируем по центру текст -*/
   padding: 0px 5px; /*-Что-бы контенер не прилипал -*/
}