
/*------- Присвоение переменных ----*/
:root {
   --color-text: rgba(255, 255, 255, 1); /*Присваиваю переменную главному брендовому цвету*/
   --color-text-hover: rgba(255, 108, 0, 1);
   --color-text-gray: rgba(157, 164, 189, 1);
   --color-text-dark: rgba(48, 48, 48, 1);
   --color-text-begraund: rgba(247, 247, 247, 1);
   --color-text-footer: rgba(25, 28, 38, 1);
   --color-text-sub: rgba(157, 164, 189, 0.6)
   
}

   /*Присваиваю переменную для всіх типів гаджетів*/
   $bp-mobile: 480px;
   $bp-tablet: 768px;
   $bp-desktop: 1280px;
